@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Poppins:wght@300;400;600;800&family=Alex+Brush&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

h3 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}
