<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/footer.styles.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="map-locations">
          <div class="embed-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7457230581276!2d72.8720306749576!3d19.206305347869424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0e57647569d%3A0xc0aec329c82d3555!2sThakur%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1696936404741!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="contact-info">
            <h2>TCET-NSS UNIT</h2>
            <h3>
              Thakur College Of Engineering And Technology. <br />A-Block,
              Thakur Educational Campus, Shyamnarayan Thakur Marg, <br />Thakur
              Village, Kandivali(E). Mumbai - 400101.
            </h3>
            <p>Tel: <span>Enter NSS phone number</span></p>
            <p>E-Mail: <span>Enter NSS</span></p>
          </div>
        </div>
        <div class="website-links">
          <div class="major-links">
            <h2>TCET-NSS UNIT</h2>
            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Team</li>
              <li>Testimonials</li>
              <li>Projects</li>
            </ul>
          </div>
          
          <div class="about-us">
            <h2>ABOUT US</h2>
            <ul>
              <li>What is NSS</li>
              <li>History</li>
              <li>Legacy Projects</li>
              <li>Current Projects</li>
            </ul>
          </div>
          <div class="project-domain-links">
            <h2>DOMAINS</h2>
            <ul>
              <li>Education</li>
              <li>Health</li>
              <li>Environment</li>
              <li>Society</li>
            </ul>
          </div>
          <div class="testimonials">
            <h2>TEAM</h2>
            <ul>
              <li>Chair Person</li>
              <li>Programme Officer</li>
              <li>Deputy Programme Officer</li>
              <li>Councils</li>
              <li>Junior Councils</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="legal-links">
          <h2>© TCET-NSS. All rights reserved</h2>
          <ul>
            <li>Instagram</li>
            <li>LinkedIn</li>
            <li>WhatsApp</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
