<header>
  <div class="logo-section">
    <img class="logo-image" src="../assets/nss_logo.png" alt="NSS Logo" />
    <div class="logo-title">
      <p class="TCET">TCET</p>
      <p class="NSS-UNIT">NSS UNIT</p>
    </div>
  </div>

  <button
    class="home-mobile-nav"
    aria-controls="nav-section"
    aria-expanded="false"
  >
    <img src="assets/hamburger.png" />
  </button>
  <nav id="nav-section">
    <ul class="nav-items" data-visible="false">
      <li class="list-item">Home</li>
      <li>Team</li>
      <li>About Us</li>
      <li>Testimonials</li>
      <li>Projects</li>
    </ul>
  </nav>
</header>
