.custom-carousel {
    background: black;
}

.image-carousel {
    margin: 120px;
    height: 350px;
    aspect-ratio: 16/12;
    border-radius: 30px;
    position: relative;
}

.imagea {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("../assets/carousel-main-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center;
    background-color: #ffddaa;
    border-radius: 30px;
    animation: image1 var(--time) ease-in-out 0s infinite;
}

.image1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #e3b6ed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-115px, -95px);
    z-index: -1;
    border-radius: 30px;
    animation: image2 var(--time) ease-in-out 0s infinite;
    transition: background-image 25ms linear;
}

.image2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(175px, -95px) scale(0.65);
    z-index: -1;
    border-radius: 30px;
    background-color: #aadcd7;
    animation: image3 var(--time) ease-in-out 0s infinite;
    transition: background-image 25ms linear;
}

.image3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-85px, 75px) scale(0.85);
    z-index: -1;
    border-radius: 30px;
    background-color: #f8b4cb;
    animation: image4 var(--time) ease-in-out 0s infinite;
    transition: background-image 25ms linear;
}

.image4 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(125px, 65px) scale(0.75);
    z-index: -1;
    border-radius: 30px;
    background-color: #2d9cdb;
    animation: image5 var(--time) ease-in-out 0s infinite;
    transition: background-image 25ms linear;
}