@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Poppins:wght@300;400;600;800&family=Alex+Brush&display=swap");

* {
  margin: 0;
  border: 0px;
  --time: 50s;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 10000;
}
#loader:before {
  content: "";
  height: 100%;
  width: 150vw;
  color: #000;
  position: absolute;
}
#loader .main_page {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
#loader img {
  width: 25%;
}
.shapes .circle {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(200px);
}
.shapes .random {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  z-index: -1;
  filter: blur(200px);
}
.main_page h1 {
  color: #000;
  font-size: 6rem;
}

.home-hero-section div {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.text-overlay {
  background: #00000025;
  filter: blur(200px);
  width: 100%;
  z-index: 100;
  height: 100vh;
  filter: brightness(90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* color: transparent; */
}
.text-overlay h3 {
  font-size: 5rem;
  z-index: 100;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  color: white;
  /* color: rgba(255, 255, 255, 0.747); */
  z-index: 100;
}

.text-overlay h4 {
  font-size: 7rem;
  font-weight: 400;
  white-space: nowrap;
  font-family: "Alex Brush", cursive;
  color: white;
  /* color: rgba(255, 255, 255, 0.747); */
}

.home-what-we-do {
  display: flex;
  flex-direction: row-reverse;
  margin: 10rem 7rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.home-what-we-do-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  margin-right: 3rem;
}

.home-what-we-do-header {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #2d9cdb;
}

.home-what-we-do-passage {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.home-what-we-do-button {
  padding: 1rem 2rem;
  max-width: 175px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #f857a6, #ff5858);
  color: white;
  font-size: 1rem;
}
.home-what-we-do-button:hover {
  background: linear-gradient(90deg, #f675b3, #f56969);
}
.nss-team-logo-council .image-wrapper {
  margin: 2rem 2rem;
}
.image-wrapper > img {
  height: 20rem;
  width: 20rem;
}
.home-who-are-we {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home-who-are-we .shapes .circle {
  height: 25rem;
  width: 25rem;
  background-color: #faccdb;
  position: absolute;
  right: 80%;
  top: 10%;
}
.home-who-are-we .shapes .random {
  height: 25rem;
  width: 25rem;
  background-color: #eacaf1;
  position: absolute;
  right: 5%;
  top: 120%;
}

.who-are-we {
  display: flex;
  flex-direction: row;
  margin: 9rem 7rem;
  gap: 9rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  margin-right: 4rem;
}
.volunteers-count {
  width: 80%;
  height: 18rem;
  text-align: center;
  margin-top: -7rem;
  font-family: "Poppins", sans-serif;
  /* background-color: #f56969; */
}
.volunteers-count > h1 {
  font-size: 50px;
  font-weight: 700;
  color: #2d9cdb;
  margin-top: 1rem;
}
.count-of-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.count-of-details h1 {
  font-weight: 600;
}
.count-of-details img {
  margin-top: 1rem;
  height: 5rem;
  width: 5rem;
}
.count-of-details p {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.home-objectives {
  display: flex;
  flex-direction: column;
  margin: -7rem 7rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-objectives .shapes .circle {
  height: 20rem;
  width: 20rem;
  background-color: #eacaf1;
  position: absolute;
  left: -5rem;
  top: -5rem;
}
.home-objectives .shapes .circle:before {
  content: "";
  height: 20rem;
  width: 20rem;
  background-color: #c3e4c5;
  border-radius: 50%;
  position: absolute;
  right: 0rem;
  top: 65rem;
}
.home-objectives .shapes .random {
  height: 20rem;
  width: 20rem;
  background-color: #bfc5e6;
  position: absolute;
  left: 65rem;
  top: 25rem;
}
.home-objectives .shapes .random:before {
  content: "";
  height: 20rem;
  width: 20rem;
  background-color: #bfc5e6;
  position: absolute;
  border-radius: 50%;
  top: 70rem;
}

.home-objectives h3 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #2d9cdb;
}

.objective-cards {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #e3b6ed;
  border-radius: 20px;
  padding: 50px 20px;
  text-align: center;
}

.card h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Alex Brush", cursive;
}

.card h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  padding-bottom: 2rem;
}

.social-links div h3 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #191b1c;
}
.socials-title {
  text-align: center;
}

.social-links div h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #1f2021e1;
}

.social-links .social-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.pink {
  color: #f8b4cb;
}

.yellow {
  background-color: #ffeaac;
}

.green {
  background-color: #c3e4c5;
}

.blue {
  background-color: #bfc5e6;
}

.pink-color {
  color: rgb(121, 11, 100);
  font-weight: 500;
  font-size: 3rem;
}

.blue-color {
  color: rgb(31, 125, 202);
  font-weight: 500;
  font-size: 3rem;
}

.dark-blue-color {
  color: rgb(31, 71, 202);
  font-weight: 500;
  font-size: 3rem;
}

.black-color {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 3rem;
}
