@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Poppins:wght@300;400;600;800&family=Alex+Brush&display=swap');

* {
    margin: 0;
    border: 0px;
    --time: 50s
}

.home-what-we-do {
    display: flex;
    flex-direction: row-reverse;
    margin: 5rem 7rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}





/* .nss-team-logo-council img{
    height: 400px;
    width: 400px;
    padding: 0px 70px;
} */



.home-objectives {
    display: flex;
    flex-direction: column;
    margin: 10rem 7rem;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.home-objectives h3 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.objective-cards {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #e3b6ed;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
}

.card h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Alex Brush', cursive;

}

.card h4 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 5rem;
}

.social-links div h3 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: #191b1c;
}
.socials-title {
    text-align: center;
}

.social-links div h4 {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #1f2021e1;
}

.social-links .social-icons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.pink {
 color: #f8b4cb;
}

.yellow {
    background-color: #ffeaac;

}

.green {
    background-color: #c3e4c5;
}

.blue {
background-color: #bfc5e6;
}

.pink-color {
    color: rgb(121, 11, 100);
    font-weight: 500;
    font-size: 3rem;
}

.blue-color {
    color: rgb(31, 125, 202);
    font-weight: 500;
    font-size: 3rem;

}

.dark-blue-color {
    color: rgb(31, 71, 202);
    font-weight: 500;
    font-size: 3rem;

}

.black-color {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 3rem;

}

