@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Poppins:wght@300;400;600;800&family=Alex+Brush&display=swap");

* {
  margin: 0;
  border: 0px;
  --time: 50s;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 10000;
}
#loader:before {
  content: "";
  height: 100%;
  width: 150vw;
  color: #000;
  position: absolute;
}
#loader .main_page {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
#loader img {
  width: 25%;
}
.main_page h1 {
  color: #000;
  font-size: 6rem;
}

.home-hero-section div {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text-overlay h3 {
  font-size: 5rem;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.747);
}

.text-overlay h4 {
  font-size: 7rem;
  font-weight: 400;
  white-space: nowrap;
  font-family: "Alex Brush", cursive;
  color: rgba(255, 255, 255, 0.747);
}

.home-what-we-do {
  display: flex;
  flex-direction: row-reverse;
  margin: 5rem 7rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.home-what-we-do-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.home-what-we-do-header {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #2d9cdb;
}

.home-what-we-do-passage {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.home-what-we-do-button {
  padding: 1rem 2rem;
  max-width: 175px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #f857a6, #ff5858);
  color: white;
  font-size: 1rem;
}
.home-what-we-do-button:hover {
  background: linear-gradient(90deg, #f675b3, #f56969);
}
.nss-team-logo-council .image-wrapper {
  height: 400px;
  width: 400px;
  /* padding: 0px 70px; */
}
.image-wrapper > img {
  height: 100%;
  width: 100%;
}
.home-who-are-we {
  display: flex;
  flex-direction: column;
}
.who-are-we {
  display: flex;
  flex-direction: row;
  margin: 10rem 7rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.home-objectives {
  display: flex;
  flex-direction: column;
  margin: 10rem 7rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.home-objectives h3 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #2d9cdb;
}

.objective-cards {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #e3b6ed;
  border-radius: 20px;
  padding: 50px 20px;
  text-align: center;
}

.card h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Alex Brush", cursive;
}

.card h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 5rem;
}

.social-links div h3 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #191b1c;
}
.socials-title {
  text-align: center;
}

.social-links div h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #1f2021e1;
}

.social-links .social-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.pink {
  color: #f8b4cb;
}

.yellow {
  background-color: #ffeaac;
}

.green {
  background-color: #c3e4c5;
}

.blue {
  background-color: #bfc5e6;
}

.pink-color {
  color: rgb(121, 11, 100);
  font-weight: 500;
  font-size: 3rem;
}

.blue-color {
  color: rgb(31, 125, 202);
  font-weight: 500;
  font-size: 3rem;
}

.dark-blue-color {
  color: rgb(31, 71, 202);
  font-weight: 500;
  font-size: 3rem;
}

.black-color {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 3rem;
}
