.nss-team-logo-council img{
    height: 400px;
    width: 400px;
    padding: 0px 70px;

    &:hover {
        .image-wrapper {
            transform: scale(1.1);
        }
    }

    .image-wrapper {
        position: relative;
        overflow: hidden;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        max-width: 50vw;

        &::before {
            content: '';
            position: absolute;
            background: #000;
            opacity: 0.2;
            top: 0;
            left: 0;
            width: 150%;
            height: 100%;
            transform: skewX(140deg) translate(0, 0);
            animation: shine 2s linear infinite;
        }

        img {
            width: 100%;
            height: auto;
        }
    }


}

@keyframes shine {
    0% {
        transform: skewX(140deg) translate(-120%, 0);
    }

    25% {
        transform: skewX(140deg) translate(140%, 0);
    }

    100% {
        transform: skewX(140deg) translate(140%, 0);
    }
}

