.logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-family: 'Times New Roman', serif;
}

.logo-image {
    height: 5rem;
    transition: transform .5s ease-in-out;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
}

.TCET, .NSS-UNIT {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 115%;
    overflow: hidden;
    white-space: inherit;
    color: var(--navbar-white);
}

.NSS-UNIT {
    font-size: 2rem;
}

/* Hover Mechanics */

.logo-image:hover {
    transform: rotate(360deg);
}