.logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-family: 'Times New Roman', serif;
    color: inherit;
}

.logo-image {
    height: var(--navbar-logo-image-size);
    transition: transform .5s ease-in-out;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    color: inherit;
}

.TCET, .NSS-UNIT {
    font-size: var(--navbar-logo-TCET-size);
    font-weight: 500;
    line-height: 115%;
    overflow: hidden;
    white-space: inherit;
    color: inherit;
}

.NSS-UNIT {
    font-size: var(--navbar-logo-NSSUNIT-size);
}

/* Hover Mechanics */

.logo-image:hover {
    transform: rotate(360deg);
}