header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 86vw;
    padding: 20px 7vw;
    z-index: 1000;
    overflow: hidden;
    margin: 0;
    border: 0px;
}

/* Responsive */
.home-mobile-nav {
    display: none;
}
